.user-all{
  width: 100%;
  .music-list-show{
    .music-list-item{
      padding: 5px;
      .list-icon{
        padding: 0 5px;
        color:rgba(183, 0, 255, 0.678);
      }
      a{
        font-size: 16px;
        color:rgba(204, 0, 255, 0.678);
        transition: all .3s linear;
      }
    }
    .music-list-li{
      padding: 5px;
      .list-icon{
        padding: 0 5px;
        color:rgba(255, 115, 0, 0.678);
      }
      a{
        font-size: 16px;
        color:rgba(255, 115, 0, 0.678);
        transition: all .3s linear;
      }
    }
  }
}
.heart-active{
  color: red !important;
}