.content-bar{
  width: 100%;
  .loading{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .music-list-all{
    padding: 10px;
    .music-list-item{
      width: 100%;
      color: #404040;
      padding: 8px 0;
      font-size: 18px;
      overflow: hidden;
      white-space:nowrap;
    }
    .line{
      border: 0;
      background-color: rgba(86,93,255,.2);
      height: 1px;
    }
  }
}